<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378021385936-0gj46195qv26nub202h3da1srbrmoki4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378021385936-0gj46195qv26nub202h3da1srbrmoki4</string>
	<key>API_KEY</key>
	<string>AIzaSyAi5mv0-vzhCpNfF6VeahBDvI68BIBi8kg</string>
	<key>GCM_SENDER_ID</key>
	<string>378021385936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.platziTripsFlutter</string>
	<key>PROJECT_ID</key>
	<string>platzi-trips-sam</string>
	<key>STORAGE_BUCKET</key>
	<string>platzi-trips-sam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378021385936:ios:038c4f043367068bb0f0d5</string>
</dict>
</plist>